<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content edge-drag-threshold="true" drag-content="false">
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-arrow-graph-up-right" ng-click="lineas()">
				</button>
				<button class="button button-icon button-clear ion-model-s" ng-click="ruta('DRIVING')">
				</button>
				<button class="button button-icon button-clear ion-android-walk" ng-click="ruta('WALKING')">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-tabs class="tabs-light">
			<ion-tab title="Mapa" ui-sref="mapa.inicio" class="tab-hidden">
				<ion-nav-view name="panel-contenido"></ion-nav-view>
			</ion-tab>
		</ion-tabs>

	</ion-side-menu-content>
</ion-side-menus>
